[submodule "AA2223-unibo-bigdataandcloudplatforms"]
	path = AA2223-unibo-bigdataandcloudplatforms
	url = git@github.com:w4bo/AA2223-unibo-bigdataandcloudplatforms.git
[submodule "AA2021-unibo-bigdata"]
	path = AA2021-unibo-bigdata
	url = git@github.com:w4bo/AA2021-unibo-bigdata.git
[submodule "2022-crea-phdsummerschool"]
	path = 2022-crea-phdsummerschool
	url = git@github.com:w4bo/2022-crea-phdsummerschool.git
[submodule "AA2223-unibo-dtmnosqlseminar"]
	path = AA2223-unibo-dtmnosqlseminar
	url = git@github.com:w4bo/AA2223-unibo-dtmnosqlseminar.git
[submodule "2023-unite-masterap"]
	path = 2023-unite-masterap
	url = git@github.com:w4bo/2023-unite-masterap.git
[submodule "AA2223-unibo-phddataplat"]
	path = AA2223-unibo-phddataplat
	url = git@github.com:w4bo/AA2223-unibo-phddataplat.git
[submodule "2023-welaser-summerschool"]
	path = 2023-welaser-summerschool
	url = git@github.com:w4bo/2023-welaser-summerschool.git
[submodule "2023-asaier-datamining"]
	path = 2023-asaier-datamining
	url = git@github.com:w4bo/2023-asaier-datamining.git
[submodule "2023-utours-nosql"]
	path = 2023-utours-nosql
	url = git@github.com:w4bo/2023-utours-nosql.git
