[submodule "AA2223-unibo-bigdataandcloudplatforms"]
	path = AA2223-unibo-bigdataandcloudplatforms
	url = git@github.com:w4bo/AA2223-unibo-bigdataandcloudplatforms.git
[submodule "AA2021-unibo-bigdata"]
	path = AA2021-unibo-bigdata
	url = git@github.com:w4bo/AA2021-unibo-bigdata.git
[submodule "2022-crea-phdsummerschool"]
	path = 2022-crea-phdsummerschool
	url = git@github.com:w4bo/2022-crea-phdsummerschool.git
[submodule "AA2223-unibo-dtmnosqlseminar"]
	path = AA2223-unibo-dtmnosqlseminar
	url = git@github.com:w4bo/AA2223-unibo-dtmnosqlseminar.git
[submodule "2023-unite-masterap"]
	path = 2023-unite-masterap
	url = git@github.com:w4bo/2023-unite-masterap.git
[submodule "AA2223-unibo-phddataplat"]
	path = AA2223-unibo-phddataplat
	url = git@github.com:w4bo/AA2223-unibo-phddataplat.git
[submodule "2023-welaser-summerschool"]
	path = 2023-welaser-summerschool
	url = git@github.com:w4bo/2023-welaser-summerschool.git
[submodule "2023-asaier-datamining"]
	path = 2023-asaier-datamining
	url = git@github.com:w4bo/2023-asaier-datamining.git
[submodule "2023-utours-nosql"]
	path = 2023-utours-nosql
	url = git@github.com:w4bo/2023-utours-nosql.git
[submodule "teaching-nosql"]
	path = teaching-nosql
	url = git@github.com:w4bo/teaching-nosql.git
[submodule "teaching-fca"]
	path = teaching-fca
	url = git@github.com:w4bo/teaching-fca
[submodule "teaching-graphdb-oscar"]
	path = teaching-graphdb-oscar
	url = git@github.com:w4bo/teaching-graphdb-oscar
[submodule "teaching-handsondatapipelines"]
	path = teaching-handsondatapipelines
	url = git@github.com:w4bo/teaching-handsondatapipelines
[submodule "teaching-nosql-tours"]
	path = teaching-nosql-tours
	url = git@github.com:w4bo/teaching-nosql-tours
[submodule "teaching-seminario-nosql"]
	path = teaching-seminario-nosql
	url = git@github.com:w4bo/teaching-seminario-nosql
[submodule "2023-bbs-op-datamining-orig"]
	path = 2023-bbs-op-datamining-orig
	url = git@github.com:w4bo/2023-bbs-op-datamining-orig.git
[submodule "2023-bbs-op-datamining"]
	path = 2023-bbs-op-datamining
	url = git@github.com:w4bo/2023-bbs-op-datamining.git
[submodule "teaching"]
	path = didattica
	url = git@bitbucket.org:mfrancia/didattica.git
[submodule "2022-bbs-dm"]
	path = 2022-bbs-dm
	url = git@github.com:w4bo/2022-bbs-dm.git
[submodule "2023-bbs-dm"]
	path = 2023-bbs-dm
	url = git@github.com:w4bo/2023-bbs-dm.git
[submodule "2023-bbs-fbi"]
	path = 2023-bbs-fbi
	url = git@github.com:w4bo/2023-bbs-fbi.git
[submodule "2022-bbs-fbi"]
	path = 2022-bbs-fbi
	url = git@github.com:w4bo/2022-bbs-fbi.git
[submodule "2022-bbs-dsaa"]
	path = 2022-bbs-dsaa
	url = git@github.com:w4bo/2022-bbs-dsaa.git
[submodule "AA2324-unibo-bigdataandcloudplatforms"]
	path = AA2324-unibo-bigdataandcloudplatforms
	url = git@github.com:w4bo/AA2324-unibo-bigdataandcloudplatforms.git
[submodule "courses-finfA"]
	path = courses-finfA
	url = git@github.com:finf-unibo/courses-finfA.git
[submodule "finf-slides"]
	path = finf-slides
	url = git@github.com:finf-unibo/finf-slides.git
[submodule "finf-labs"]
	path = finf-labs
	url = git@github.com:finf-unibo/finf-labs.git
[submodule "AA2324-unibo-labdiinformatica"]
	path = AA2324-unibo-labdiinformatica
	url = git@github.com:w4bo/AA2324-unibo-labdiinformatica.git
[submodule "AA2324-unibo-dtmnosqlseminar"]
	path = AA2324-unibo-dtmnosqlseminar
	url = git@github.com:w4bo/AA2324-unibo-dtmnosqlseminar.git
[submodule "slides-md"]
	path = slides-md
	url = git@github.com:w4bo/slides-md.git
[submodule "2024-utours-nosql"]
	path = 2024-utours-nosql
	url = git@github.com:w4bo/2024-utours-nosql.git
[submodule "slides-markdown"]
	path = slides-markdown
	url = git@github.com:w4bo/slides-markdown.git
[submodule "2024-bbs-dm"]
	path = 2024-bbs-dm
	url = git@github.com:w4bo/2024-bbs-dm.git
